doctype 5
html
  head
    title= page.name.capitalize()
    - var cssElements = includeElementsCss(page.elements, '      ');

    style(type='text/css')
      .container {
        position: relative;
      }

    style(type='text/css')
      !{cssElements}

    each module in page.requiredModules
      if module.js 
        script(src='#{module.js}', type='text/javascript')
      if module.css 
        link(href='#{module.css}', rel="stylesheet")

    script(src='#{page.name.toLowerCase()}.js', type='text/javascript')

  body
    .container
      each element in page.elements
        div(id=element.name, data-bind="with: #{element.name}PatternInstance")
          - var pattern = includePattern(element.pattern, '      ')
          !{pattern}
  script
    var bindings = buildPageModel("data", applyBindings);
    function applyBindings(bindings){
      ko.applyBindings(bindings);
    }
